@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
p,
h2 {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  background: #f3f7fa;
}

button {
  margin: 0;
}

.app {
  width: 755px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  @media (max-width: 770px) {
    width: 505px;
  }

  @media (max-width: 510px) {
    width: 400px;
  }

  &__logo {
    margin: 50px 0;
    align-self: center;

    @media (max-width: 510px) {
      margin: 20px 0;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: 770px) {
      align-items: center;
      flex-direction: column;
    }
  }

  &__main {
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;

    @media (max-width: 510px) {
      margin-bottom: 30px;
    }
  }
}
