@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body,
p,
h2 {
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Open Sans';
  background: #f3f7fa;
}

button {
  margin: 0;
}

.app {
  width: 755px;
  display: flex;
  margin: 0 auto;

  flex-direction: column;

  &__logo {
    margin: 50px 0;
    align-self: center;
  }

  &__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
  }

	&__main {
		display: flex;
		margin-bottom: 50px;
		flex-direction: column;
	}
}
