.showMore {
	color: #fff;
	border: none;
	outline: none;
	padding: 15px 0;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
  background-color: #2196f3;
}
