.filters {
  width: 230px;
  color: #4a4a4a;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);

  &__title {
    margin: 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 12px;
  }

  &__filter {
    margin: 20px;
  }

  &__filter-title {
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    padding-left: 30px;
    display: inline-block;

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 2px;
      margin-left: -30px;
      position: absolute;
      box-shadow: 0 0 0 0.1em #9abbce;
    }
  }

  &__filter-input {
    border: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
  }
}

.filters__filter-input:checked + .filters__filter-title::before {
  box-shadow: 0 0 0 1px #2196f3;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.28571 8L0 4.16123L1.20857 3.0787L4.28571 5.82726L10.7914 0L12 1.09021L4.28571 8Z' fill='%232196F3'/%3E%3C/svg%3E%0A");
	background-repeat: no-repeat;
	background-position: 50%;
}

.filters__filter-input:focus + .filters__filter-title::before {
  box-shadow: 0 0 0 2px #2196f3;
}
